@import "../../mixins";

.eventlist {
    .title {
        text-align: left;
    }

    &__block {
        display: flex;
        gap: 16px;
        flex-wrap: wrap;

    }

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 30px 0 20px;

    }

    &__header-left {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .title {
            margin: 0 16px 0 0;
        }
    }

    &__header-button {
        cursor: pointer;
        font-size: var(--font-size-base);
        background-color: var(--blue-2);
        border: 1px solid var(--blue-2);
        color: var(--white);
        padding: 10px 20px;
        border-radius: 8px;

        &:hover {
            background-color: var(--white);
            color: var(--blue-1);
        }
    }


    &__item {
        flex: 0 1 100%;

        @media screen and (min-width:568px) {
            flex: 0 1 48.5%;

        }

        @media screen and (min-width:992px) {
            flex: 0 1 32%;
        }

        @media screen and (min-width:1200px) {
            flex: 0 1 23.93%;
        }

        border: 1px solid var(--gray-200);
        border-radius: 8px;
        margin-bottom: 16px;
        cursor: pointer;
        overflow: hidden;

        &:hover {
            .eventlist__item-actions {
                @include transition(ease, .6s);
                visibility: visible;
                bottom: 0px;
            }

            .eventlist__item-img {
                img {
                    @include transition(ease, .6s);
                    transform: scale(1.5);
                }
            }
            .eventlist__item-premium{
                border: 1px solid var(--gold);
                background-color: var(--white);
                color: var(--gold);

            }
        }
    }

    &__item-img {
        overflow: hidden;
        position: relative;
        height: 150px;

        img {
            @include transition(ease, .6s);
            height: 100%;

        }
    }

    &__body {
        position: relative;
        padding-bottom: 16px;
        background-color: var(--gray-500);
    }

    &__item-title {
        @include text-vertical-trim(2);
        text-align: left;
        padding: 4px 16px;
        color: var(--dark-blue)
    }

    &__item-desc {
        @include text-vertical-trim(4);
        text-align: left;
        padding: 0 16px;

    }

    &__item-group {
        display: flex;
        justify-content: space-between;
        padding: 0 16px;
        margin-top: 16px;
    }

    &__item-price {
        font-size: var(--font-size-14);
        padding-right: 16px;
        font-weight: bold
    }

    &__item-date {
        font-size: var(--font-size-14);

    }

    &__item-actions {
        @include transition(ease, .6s);
        position: absolute;
        display: flex;
        width: calc(100% - 32px);
        padding: 8px 16px;
        justify-content: space-between;
        background-color: rgba(255, 255, 255, 1);
        bottom: -100px;
        visibility: hidden
    }

    .action-btn {
        padding: 4px 8px;
        text-align: center;
        border-radius: 4px;
        background-color: var(--white);
        border: 1px solid var(--blue-1);
        cursor: pointer;
    }

    &__item-edit {
        @extend .action-btn;
        color: var(--blue-1);

    }

    &__item-delete {
        @extend .action-btn;
        border: 1px solid red !important;
        color: red;
    }

    &__item-premium {
        padding: 4px 8px;
        background-color: var(--gold);
        color: var(--black);
        position: absolute;
        top: 16px;
        left: 16px;
        border-radius: 6px;
        display: flex;
        align-items: center;
        font-size: var(--font-size-14);
        border: 1px solid var(--gold);
        
    }
}